@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    font-family: Arial, sans-serif;

}

.piano-bg {
    position: absolute;
    overflow: hidden;
    top: 0px;
    z-index: -100;
    height: 920px;
    margin-right: calc(100% - 1400px);
}

.piano-teacher-column {
    display: inline-block;
    padding-top: 8px;
    overflow: hidden;
    max-width: 900px;
}

.intro-column {

    margin: auto;
}

.cool-container {
    width: 93%;
    max-width: 700px;
    margin: auto;
    color: white;
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {


}

@media (min-width: 1024px) {

    .cool-container {
        width: 93%;
        max-width: 1300px;
        margin: auto;
    }

    .piano-teacher-column {
        width: calc(100% - 400px);
        padding-bottom: calc(360px - 30%);

    }

    .intro-column {
        text-align: left;
        max-width: 400px;

        color: white;
        display: inline-block;
        overflow: hidden;
        padding-bottom: 0px;
    }

    .piano-bg {
        position: absolute;
        margin-right: calc(15% - 200px);
        top: 0px;
        height: 590px;
    }



}

@media (min-width: 1280px) {
    .piano-teacher-column {

        padding-bottom: 0px;
    }

    .intro-column {
        padding-top: calc(310px - 25%);
        padding-bottom: calc(25% - 300px);
    }

    .piano-bg {
        margin-right: 0;
    }

}

@media (min-width: 1536px) {
    .intro-column {
        padding-bottom: 25px;
        padding-top: 0px;

    }


}