@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    font-family: Arial, sans-serif;

}

.creative-illustration {
    overflow: hidden;
    display: inline-block;
    float: left;
    max-width: 840px;
    width: 100%;
    padding-top: 0;
}

.approach-column {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.cool-container {
    width: 93%;
    max-width: 1290px;
    margin: auto;
}

.apply-illustration {
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
}

.copilot-column {
    float: left;
}

.social-column {
    max-width: 100%;
}

.social-illustration {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.web-column {
    max-width: 100%;
}

.web-illustration {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.budget-illustration {
    padding-top: 30px;
    padding-bottom: 20px;
}


@media (min-width: 640px) {
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .creative-illustration {
        float: right;
        width: calc(100% - 460px);
        padding-top: calc(330px - 26%);
    }

    .approach-column {
        width: 460px;
    }

    .apply-illustration {
        padding-top: calc(300px - 25%);
        width: calc(100% - 500px);
        max-width: 700px;
    }

    .copilot-column {
        float: right;
        max-width: 500px;
    }

    .social-illustration {
        padding-top: calc(300px - 20%);
        float: right;
        width: calc(100% - 500px);
        max-width: 670px;
    }
    .social-column {
        float: left;
        max-width: 500px;
        margin-top: 10px;
        margin-bottom: 20px;

    }
    .web-illustration {
        padding-top: calc(270px - 20%);
        float: right;
        width: calc(100% - 500px);
        max-width: 570px;
    }
    .web-column {
        float: left;
        max-width: 500px;
        margin-top: 20px;
        margin-bottom: 40px;

    }
    .processor-illustration {
        padding-top: calc(270px - 20%);
        float: right;
        width: calc(100% - 500px);
        max-width: 570px;
    }
    .processor-column {
        float: left;
        max-width: 500px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-right: 50px;

    }
    .budget-column {
        float: right;
        max-width: 550px;

    }
    .budget-illustration {
        float: left;
        width: calc(100% - 600px);
        max-width: 570px;
        margin-right: 50px;
        padding-top: calc(380px - 30%);
    }
    .music-column {
        float: right;
        max-width: 550px;
        margin-bottom: 40px;

    }
    .music-illustration {
        float: left;
        width: calc(100% - 600px);
        max-width: 390px;
        margin-right: 50px;
        padding-top: calc(20px);
    }

}

@media (min-width: 1280px) {
    .budget-illustration {
        padding-top: 25px;
    }
    .web-illustration {
        padding-top: 25px;
    }
    .processor-illustration {
        padding-top: 25px;
    }

}

@media (min-width: 1536px) {


}
